<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        {% for item in items %}
            <li class="nav-item">
                {% if item.route %}
                    <a class="nav-link {% if item.route == ctx.request %}active{% endif %}" href="{{ scLink(item.route) }}">
                        {{ item.label }}
                    </a>
                {% else %}
                    Не найден маршрут <pre>{{ item|json_encode() }}</pre>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
