<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        {% for item in items %}
            <a class="p-2 link-secondary" href="{{ scLink(item.route) }}">{{ item.name }}</a>
        {% endfor %}
    </nav>
</div>
