includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - SetCMS
        - UUA
    reportUnmatchedIgnoredErrors: false

    bootstrapFiles:
        - vendor/autoload.php  # Автозагрузка классов через Composer

