includes:
    - phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - SetCMS
        - UUA
        - Module
        - Tests
        - resources
    reportUnmatchedIgnoredErrors: false

    bootstrapFiles:
        - vendor/autoload.php

