{% extends "layout.twig" %}

{% block content %}
    {% if users %}
        {% for user in users %}
            <a href="/setcms4/index.php/Users/read?id={{ post.id }}">{{ post.username }}</a><br/>
        {%  endfor %}
    {% else %}
        Список пользователей пуст
    {% endif %}
{% endblock %}