{% extends theme_path('layout.twig') %}

{% block content %}
    {% if entities %}
        {% for entity in entities %}
            <a href="{{ link('read', {module: 'Users', id: entity.id}) }}">{{ entity.username }}</a>
            <hr/>
        {%  endfor %}
    {% else %}
        Список пользователей пуст
    {% endif %}
{% endblock %}