{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/crud.twig') as crud %}

{% block content_toolbar %}
    <a href="{{ scLink('action_record_admin', {module: 'Menu', action: 'new', 'id': scUUID()}) }}" class="btn btn-sm btn-outline-secondary">Создать</a>
{% endblock %}

{% block content_title %}Меню{% endblock %}

{% block content %}
    {%  
        set rows = [
            {
                type: 'header',
                columns: [
                    {
                        type: 'checkbox',
                        name: 'id',
                        value: 'selectall'
                    },
                    {
                        type: 'text',
                        value: 'Надпись'
                    },
                    {
                        type: 'text',
                        value: 'Маршрут'
                    },
                   {
                        type: 'text',
                        value: 'Параметры'
                    },
                    {
                        type: 'text',
                        value: 'Дата создания'
                    },
                    {
                        type: 'text',
                        value: 'Дата изменения'
                    },
                    {
                        type: 'text',
                        value: 'Действия'
                    },
                ]
            }
        ]
    %}
    {% for entity in menus %}
        {%  
            set rows = rows|merge([{
                type: 'row',
                columns: [
                    {
                        name: 'id[]',
                        type: 'checkbox',
                        value: entity.id.uuid
                    },
                    {
                        type: 'text',
                        value: entity.label
                    },
                    {
                        type: 'text',
                        value: entity.route
                    },
                    {
                        type: 'text',
                        value: entity.params|json_encode()
                    },
                    {
                        type: 'text',
                        value: entity.dateCreated.format('d.m.Y H:i:s')
                    },
                    {
                        type: 'text',
                        value: entity.dateModified.format('d.m.Y H:i:s')
                    },
                    {
                        name: 'actions',
                        type: 'actions',
                        actions: [
                            {
                                label: 'Просмотр',
                                route: 'action_record_admin',
                                params: {
                                    module: 'Menu', 
                                    action: 'read',
                                    id: entity.id
                                }
                            },
                            {
                                label: 'Редактировать',
                                route: 'action_record_admin',
                                params: {
                                    module: 'Menu', 
                                    action: 'edit',
                                    id: entity.id
                                }
                            }
                        ]
                    }
                ]
            }])
        %}
    {% endfor %}

    {{ crud.listview({rows: rows})  }}
{% endblock %}