{% extends scShortPath(layout ?? 'layout_admin.twig') %}
{% import scShortPath('macros/crud.twig') as crud %}

{% block content_toolbar %}
    <a href="{{ scLink('AdminPageNew', {'id': scUUID()}) }}" class="btn btn-sm btn-outline-secondary">Создать</a>
{% endblock %}

{% block content_title %}Page{% endblock %}

{% block content %}
    {%  
        set rows = [
            {
                type: 'header',
                columns: [
                    {
                        type: 'checkbox',
                        name: 'id',
                        value: 'selectall'
                    },
                    {
                        type: 'text',
                        value: 'slug',
                    },
                    {
                        type: 'text',
                        value: 'title',
                    },
                    {
                        type: 'text',
                        value: 'content',
                    },
                    {
                        type: 'text',
                        value: 'Действия'
                    },
                ]
            }
        ]
    %}
    {% for entity in entities %}
        {%  
            set rows = rows|merge([{
                type: 'row',
                columns: [
                    {
                        name: 'id[]',
                        type: 'checkbox',
                        value: entity.id.uuid
                    },
                    {
                        type: 'text',
                        value: entity.slug
                    },
                    {
                        type: 'text',
                        value: entity.title
                    },
                    {
                        type: 'text',
                        value: entity.content
                    },
                    {
                        name: 'actions',
                        type: 'actions',
                        actions: [
                            {
                                label: 'Просмотр',
                                route: 'AdminPageRead',
                                params: {
                                    id: entity.id
                                }
                            },
                            {
                                label: 'Просмотр 2',
                                route: 'PageReadBySlug',
                                params: {
                                    id: entity.id,
                                    slug: entity.slug
                                }
                            },
                            {
                                label: 'Редактировать',
                                route: 'AdminPageEdit',
                                params: {
                                    id: entity.id
                                }
                            }
                        ]

                    }
                ]
            }])
        %}
    {% endfor %}

    {{ crud.listview({rows: rows})  }}
{% endblock %}
