{% if page %}
    <h4 class="fst-italic">{{ page.title }}</h4>
{% endif %}
<p class="mb-0">
    {% if page %}
        {{ page.content|raw }}
    {% else %}
        Страница "{{ slug }}" не найдена
    {% endif %}
</p>