{% extends scPath('layout.twig') %}

{% block content %}
    <div class="row g-0">
        <h4>Профиль пользователя</h4>
        <div class="mb-3">
            Привет, {{ user.username }}!
        </div>
        <div class="mb-0">
            <a href="{{ scLink('action', {module: 'User', action: 'logout'}) }}" class="btn btn-primary">Выйти</a>
        </div>
    </div>
{% endblock %}