{% extends scShortPath('layout_admin.twig') %}
{% import scShortPath('macros/forms.twig') as forms %}

{% block content_title %}Сохранить пользователя{% endblock %}

{% block content %}
    <form class="setcms-form g-3" 
        setcms-method="POST"
          setcms-action="{{ scLink(entity.id ? 'action_record_admin' : 'action_admin', {module: 'User', action: 'save', id: entity.id}) }}"
          setcms-redirect="{{ scLink('action_record_admin', {module: 'User', action: 'read', 'id': '${entity.id}'}) }}"
          >

        {{ forms.select({entity: entity, name: 'role', options: {'guest': 'Гость', 'entity': 'Пользователь', 'admin': 'Админ'}, label: 'Роль'}) }}
        {{ forms.submit({label: 'Сохранить'}) }}
    </form>
{% endblock %}