{% extends setcms.path('layout.twig') %}

{% block content %}
    {{ messages|json_encode }}
    <div class="row g-0">
        <h4>Профиль пользователя</h4>
        <div class="mb-3">
            Привет, {{ entity.username }}!
        </div>
        <div class="mb-0">
            <a href="{{ setcms.link('action', {module: 'OAuth', action: 'logout'}) }}" class="btn btn-primary">Выйти</a>
        </div>
    </div>
{% endblock %}