{% extends theme_path('layout_admin.twig') %}

{% block content_toolbar %}
{% endblock %}

{% block content_title %}Миграции{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Миграция</th>
                    <th scope="col">Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.migration }}</td>
                        <td>{{ entity.dateCreated.format('d.m.Y H:i:s') }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
