<h3 class="pb-4 mb-4 fst-italic border-bottom">
    {% if entities %}
        {% for post in entities %}
            {{ post.id }}: {{ post.title }}<br/>
            {{ post.dateCreated.format('Y-m-d') }}<br/>
            <hr>
        {%  endfor %}
    {% else %}
        Список пуст
    {% endif %}
</h3>