<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% block styles %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
<div aria-live="assertive" aria-atomic="true" class="position-relative" data-bs-autohide="false">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div id="setcms-uncatched-message" class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <!--img src="..." class="rounded me-2" alt="..."-->
                <strong class="me-auto">Сообщение</strong>
                <small>1 секунду назад</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
</div>

<script src="js/setcms.js"></script>
