<div aria-live="assertive" aria-atomic="true" class="position-relative" data-bs-autohide="false">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div id="setcms-uncatched-message" class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <!--img src="..." class="rounded me-2" alt="..."-->
                <strong class="me-auto">Сообщение</strong>
                <small>1 секунду назад</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
</div>